#footer
  %ol.support
    %li= support_link
    %li= mobile_link
    %li= help_link
  .copyright
    Project collaboration by <a href="http://crewmate.org/">Crewmate</a>, based on <a href="https://github.com/teambox/teambox">Teambox 3</a>.
